.out {
    width: 300px;
    height: 200px;
    border: 1px solid;
    background-color: aqua;
}

.in {
    width: 200px;
    height: 100px;
    border: 1px solid;
    margin: 50px;
    background-color: rgb(179, 255, 0);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    color: white;
}

.in:hover {
    transform: scale(2);
}